.container {
    width: 100vw;
    height: 100vh;
    position: relative;
}
.base {
    position: relative;
    width: 100%;
    height: calc(100%);
    /* background-image: linear-gradient(135deg, rgba(27, 149, 225, 0.8), rgb(15, 18, 201)); */
    background-image: url('../images/mathematics\ and\ code\ and\ machine\ learning.png');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}

.base p#name {
    font-size: 4rem;
    position: absolute;
    text-align: center;
    /* width: auto; */
    top: 9rem;
    left: 7rem;
    font-weight: bold;
    background-image: var(--gradient);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-size: 300%;
    background-position: right;
    animation: name-anime 4s ease-in-out infinite alternate;
}

@keyframes name-anime {
    0% {
        background-position-x: left;
    }

    100% {
        background-position-x: right;
    }
}

.base p#intro-para {
    font-size: 23px;
    position: absolute;
    top: 14rem;
    width: 45%;
    text-align: center;
    left: 1.8rem;
    color: #fff;
    z-index: 1;
}

.intro-cont {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-repeat: round;
    background-blend-mode: saturation;
    background-color: rgba(0, 0, 0, .3);
    position: relative;
}

.intro-cont::after {
    content: '';
    position: absolute;
    top: 35em;
    display: block;
    height: 28em;
    width: 100vw;
    /* background-image: url("../images/Union.svg");
    background-repeat: round; */
}


.logo-img {
    position: absolute;
    width: 30%;
    height: 40%;
    left: 40%;
    top: 30%;
    mix-blend-mode: normal;
    z-index: 0;
    animation: logo-bounce 2s ease-in-out 0s infinite alternate none;
}
@media (width<=412px) {
    .base p#name{
        top: 5rem;
        left: 0rem;
        font-size: 3.5rem;
    }
    .base p#intro-para{
        left: 0;
        width: 100%;
        font-size: 18px;
    }
    .logo-img{
        transform: scale(1.9);
        left: 30%;
        width: 40%;
        top: 35%;
    }
}
@keyframes logo-bounce {
    from{
        top: 35%;
    }
    to{
        top:40%;
    }
}
