.Projects{
    width: 100vw;
    height: 100vh;
    /* background-color: aquamarine; */
    display: flex;
    align-items: center;
    background-image: url('../projects_background.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.projects-palette{
    width: 90%;
    height: 80%;
    margin: auto;
    padding: 1rem;
    border-radius: 1rem;
    background-color: rgba(209, 255, 248, 0.475);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    display: flex;
    align-items:center;
}
.projects-palette .me-svg{
    width: 30%;
    height: 10em;
}
.projects-palette .project-section{
    height: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: .5rem;
    padding: .5rem;
    border-radius: 1rem;
    background-color: rgba(250, 235, 215, 0.671);
    overflow-y: scroll;
}
.projects-palette 
.project-section 
.project-item
.project-card{
    position: relative;
    overflow-y: hidden;
}
.projects-palette 
.project-section 
.project-item
.project-card
.project-card-overlay{
    position: absolute;
    top: 80%;
    left: 50%;
    color: white;
    font-size: large;
    opacity: 0;
    width: 100%;
    height: 98%;
    transform: translate(-50%,-50%);
    transition: all 1s ease;
    background-color: rgba(174, 157, 157, 0.339);
    display: flex;
    border-radius: 1rem;
    text-align:center ;
    flex-direction: column;
}
.project-card-overlay .project-title{
    margin: .5rem auto;
    letter-spacing: 2px;
}
.project-card-overlay .project-details{
    margin: .5rem auto;
}
.project-card-overlay .navigations{
    margin:1rem;

}
.project-card-overlay .navigations a{
    text-decoration: none;
    margin: 0 1rem;
    padding: .5rem;
    color: black;
    transition: all 500ms ease;
}
.project-card-overlay .navigations .github-link{
    background-color: white;
}
.project-card-overlay .navigations .github-link:hover{
    background-color: rgb(0, 0, 0);
    color: white;
}
.project-card-overlay .navigations .live-project{
    background-color: aquamarine;
}
.project-card-overlay .navigations .live-project:hover{
    background-color: black;
    color: aquamarine;
}
.projects-palette 
.project-section 
.project-item
.project-card
.project-card-background img{
    border-radius: 1rem;
    width: 100%;
    height: 100%;
}
.projects-palette 
.project-section 
.project-item
.project-card:hover .project-card-overlay{
    opacity: 1;
    top: 50%;
    left: 50%;
}