.skills {
    width: 100vw;
    height: 100vh;
    position: relative;
}
.main-skills {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-areas: 
    "web web . tools tools"
    "web web title tools tools"
    "lang lang title . ."
    "lang lang . . ."
    ;
    background-image: linear-gradient(135deg,violet,blueviolet,blue);
    background-repeat: no-repeat;
    background-position: center;
}
.webdev{
    background-color: whitesmoke;
    grid-area: web;
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    box-shadow: 1px 1px 10px black;
    background-image: linear-gradient(-60deg,lime,cyan);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    font-size: large;
}
.languages{
    grid-area: lang;
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    background-color: whitesmoke;
    background-image: linear-gradient(-60deg,orange,pink);
    font-size: large;
    box-shadow: 1px 1px 10px black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.skill-icon{
    margin: auto;
}
.tools{
    grid-area: tools;
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    background-color: whitesmoke;
    box-shadow: 1px 1px 10px black;
    background-image: linear-gradient(80deg,lightblue,aqua);
    font-size: large;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.blankspace{
    grid-area: blank;
    width: 33%;
    height: 30%;
}
.skills-title{
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    background-color: whitesmoke;
    box-shadow: 1px 1px 10px black;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: title;
    margin: auto;
}
.skills-front {
    width: 100vw;
    height: 100vh;
    position: absolute;
    /* display: none; */
    top: 0;
    left: 0;
    background: black;
    -webkit-mask:
        radial-gradient(farthest-side, #000 98%, #0000) center/15rem 15rem no-repeat,
        linear-gradient(#000 0 0);
    -webkit-mask-composite: destination-out;

    mask:
        radial-gradient(farthest-side, #000 98%, #0000) center/15rem 15rem no-repeat,
        linear-gradient(#000 0 0);
    mask-composite: exclude;
    transition: 0.1s;
}
/* .skills-front:hover { */
    /* -webkit-mask-size: 100% 150%, auto;
    mask-size: 100% 150%, auto; */
    /* -webkit-mask-position: 20% 20%;
    mask-position: 20% 20%; */
/* } */