* {
  margin: 0;
  padding: 0;
}

:root {
  --bgcolor: rgb(4, 127, 208);
  --gradient: linear-gradient(45deg, rgb(246, 136, 32), rgb(255, 200, 0), #e13314);
  --clr: #e13314;
  --gradient-two:linear-gradient(45deg,lime,aquamarine);
}

body {
  font-family: monospace;
}